{% extends "base.html" %}


{% block content %}

    <div class="container col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <br><h1>
            {% comment %}
                Block created to indicate the title of the form, could be
                'Create' or 'Edit'
            {% endcomment %}
            {% block form_title %}{% endblock form_title %} 
        </h1><br>
        <form id="form_todo">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}

            <br>
            {% comment %}
                Block for adding buttons according to the type of form,
                can be 'Create', 'Edit' buttons.
            {% endcomment %}
            {% block form_buttons %}{% endblock form_buttons %}
            <button class="btn btn-default" onclick="location.href='{% url "todos" %}'; return false">Cancel</button>

        </form>
    </div>

{% endblock content %}
