{% extends "base.html" %}


{% block menu %}
    
{% endblock menu %}


{% block content %}
    
    <div class="container col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
        <br><h1>Login To-Do App</h1><br>
        {% block message %}{% endblock message %}
        <form action="/authenticate_user/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" />
            </div>

            <p>If not a registered user, <a href="{% url 'register' %}">SIGN UP</a></p>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

{% endblock content %}