{% extends "base.html" %}

{% load static %}


{% block extra_js %}
    <script src="{% static "main/js/todo.js" %}"></script>   
{% endblock extra_js %}



{% block content %}

    <div class="table-responsive container">    
        <table class="table table-condensed table-striped ">
            <caption> <h1>ToDo List</h1> 
                <button class="btn btn-primary create_todo" onclick="location.href='{% url "create-todo" %}'; return false">Create ToDo</button> 
            </caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Responsible</th>
                    <th>Is Completed ?</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>{{ todo.id }}</td>
                        <td>{{ todo.description }}</td>
                        <td>{{ todo.responsible.first_name }} {{ todo.responsible.last_name }}</td>
                        <td class="is_completed">{{ todo.is_completed }}</td>
                        <td>{{ todo.created }}</td>
                        <td>
                            <button class="complete" data-id="{{ todo.id }}">Complete</button>
                            {# <button onclick="location.href='{% url "complete-todo" todo.id %}'; return false">Complete</button> #}
                            <button onclick="location.href='{% url "edit-todo" todo.id %}'; return false">Edit</button>
                            <button class="delete_todo" data-id="{{ todo.id }}">Delete</button>
                        </td>
                    </tr>                        
                {% endfor %}
            </tbody>
        </table>


    <div id="page-selection">Pagination goes here</div>
    </div>


{% endblock content %}
