{% extends "base.html" %}

{% block content %}
    
    <div class="table-responsive container">    
        <table class="table table-condensed table-striped ">
            {# <caption> <h1>User List</h1> <button class="btn btn-primary">Create User</button> </caption> #}
            <caption> <h1>User List</h1> 
                <button class="btn btn-primary create_user" onclick="location.href='{% url "create-user" %}'; return false">Create User</button> 
            </caption>            
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Is Superuser</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in users %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.first_name }}</td>
                        <td>{{ obj.last_name }}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.is_superuser }}</td>
                        <td>
                            <button onclick="location.href='{% url "edit-user" obj.id %}'; return false">Edit</button>
                            <button class="delete_user" data-id="{{ obj.id }}">Delete</button>
                        </td>                        
                    </tr>                        
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
